// Variables
// *------------------------------------------------*
$color-white: #ffffff;
$color-black: #000000;
$color-yellow: #fcbd1f;
$color-cream: #f0e5d8;
$color-grey: #121212;
$color-red: #b02b3b;
$header-gradient: linear-gradient(315deg, #295cab 0%, #05753d 74%);

$radius-2: 2px;
$radius-4: 4px;
$radius-6: 6px;
$radius-10: 10px;